debug: false
management.endpoints.web.exposure.include: "*"

logging:
  level:
    com.fastcampus.projectBoard: debug
    org.springframework.web.wervlet: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace
    
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/board
    username: fastcampus
    password: java
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    defer-datasource-initialization: true
    hibernate.ddl-auto: create
    show-sql: true
    properties:
      hibernate.format_sql: true
      hibernate.default_batch_fetch_size: 100
  h2.console.enabled: true
  sql.init.mode: always
  # thymeleaf.cache: false
  data.rest:
    base-path: /api
    detection-strategy: annotated
    
---

spring:
  config.activate.on-profile: testdb
#  datasource:
#    url: jdbc:h2:mem:board;mode=mysql
#    driverClassName: org.h2.Driver
#  sql.init.mode: always
#  test.database.replace: none
      